<%= form_with(model: radi_se, local: true) do |form| %>
  <% if radi_se.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(radi_se.errors.count, "error") %> prohibited this radi_se from being saved:</h2>

      <ul>
        <% radi_se.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
